form > h2 {
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

form > label,
form > input,
form > select {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.register__btn {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  border-radius: 10px;
}
